{% extends "base.html" %}
{% block content %}
  <h2 class="mb-3">My Profile</h2>
  <div class="card">
    <div class="card-body">
      <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <label class="form-label">Phone</label>
          <input name="phone" class="form-control" value="{{ profile.phone }}" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Country</label>
          <input name="country" class="form-control" value="{{ profile.country }}" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Address Line 1</label>
          <input name="address_line1" class="form-control" value="{{ profile.address_line1 }}" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Address Line 2</label>
          <input name="address_line2" class="form-control" value="{{ profile.address_line2 }}" />
        </div>
        <div class="col-md-4">
          <label class="form-label">City</label>
          <input name="city" class="form-control" value="{{ profile.city }}" />
        </div>
        <div class="col-md-4">
          <label class="form-label">State</label>
          <input name="state" class="form-control" value="{{ profile.state }}" />
        </div>
        <div class="col-md-4">
          <label class="form-label">Postal Code</label>
          <input name="postal_code" class="form-control" value="{{ profile.postal_code }}" />
        </div>
        <div class="col-12">
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
